@charset "UTF-8";
* {
  font-family: 'Museo Sans Cyrl', sans-serif;
  /* border: 1px solid red; */ }

/* строим без boostrap, только flex вёрсткой */
.container {
  position: relative;
  /* для позиционирования стрелок */
  max-width: 950px;
  margin: 0 auto; }

/* импорты поддягиваем внизу кода */
.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/main.jpg) center center/cover no-repeat; }
  .promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px; }
  .promo__header {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff; }
  .promo__subheader {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff; }
  .promo__icons {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    width: 425px; }
  .promo__icon {
    width: 110px;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff; }
    .promo__icon img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }
  .promo__link {
    margin-top: 18px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff; }
    .promo__link a {
      text-decoration: underline;
      text-transform: uppercase;
      color: #ffffff; }

/* блоки сайта по БЭМ, блок промо */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    width: 250px; }
    .header__logo img {
      width: 100%;
      /* при смене лого не будет проблем, он будет занимать 100% */ }
  .header__official {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    text-align: center; }
    .header__official span {
      display: block;
      font-size: 18px; }
  .header__phone {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff; }
    .header__phone:hover {
      color: #ffffff;
      text-decoration: none; }
  .header__contacts {
    /* для выравнивания кнопки и телефона по правому краю*/
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

/* один основной стиль как самой первой кнопки, а остальные будем изменять спомощью модификаторов */
.button {
  width: 150px;
  height: 30px;
  background-color: #c70101;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff; }
  .button_main {
    margin-top: 67px;
    width: 300px;
    height: 50px;
    font-size: 16px; }
  .button_submit {
    width: 100%;
    height: 55px;
    font-size: 16px; }
  .button_mini {
    width: 131px;
    height: 40px;
    font-size: 14px; }

.advantages {
  padding: 69px 0 78px;
  background-color: #f6f5f5; }
  .advantages__wrapper {
    display: flex;
    justify-content: space-between; }
  .advantages__block {
    width: 242px;
    margin-top: 63px; }
    .advantages__block img {
      display: block;
      margin: 0 auto;
      margin-bottom: 35px; }
  .advantages__text-block {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #0d0d0d;
    text-align: center; }
    .advantages__text-block h3 {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
      color: #0d0d0d;
      margin-bottom: 25px; }
    .advantages__text-block a {
      text-decoration: underline;
      color: #ff0000; }

.title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
  text-transform: uppercase; }
  .title_left {
    font-size: 36px;
    color: #ffffff;
    text-align: left; }

.consultation {
  min-height: 680px;
  padding: 100px 0 92px;
  background: url(../img/consultation.jpg) center center/cover no-repeat; }
  .consultation__descr {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff; }

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px; }
  .feed-form input {
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 300;
    color: #4b4b4b; }
    .feed-form input:nth-child(3) {
      margin-bottom: 20px;
      /* отступ между третьим инпутом и кнопкой */ }

.carousel {
  padding: 81px 0; }
  .carousel__inner {
    position: relative;
    /* для установки стрелки слайдера  */
    width: 750px;
    margin: 0 auto; }
  .carousel .prev, .carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
    /* задний фон стрелки */ }
    .carousel .prev img, .carousel .next img {
      width: 31px;
      height: 50px; }
  .carousel .next {
    right: -66px;
    left: auto; }
  .carousel .tns-item img {
    display: block;
    margin: 0 auto; }

.catalog {
  padding-bottom: 100px; }
  .catalog__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0; }
  .catalog__tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #6b6b6b;
    text-align: center;
    line-height: 48px;
    transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s all; }
    .catalog__tab:hover {
      box-shadow: 3px 3px 20px #c70101;
      border: none; }
    .catalog__tab div {
      transform: skewX(25deg); }
    .catalog__tab_active {
      color: #fff;
      background-color: #c70101;
      border: none; }
  .catalog__content {
    margin-top: 60px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    /* для того что-бы не помещающиеся блоки перемещались вниз */ }
    .catalog__content_active {
      display: flex; }
  .catalog-item {
    width: 300px;
    min-height: 440px;
    /* мин для того что если описание увеличится то карточка станет выше */
    border: 2px solid #e8e8e8;
    padding: 20px 20px 26px 20px;
    overflow: hidden;
    /* скрывает всё, что выходит за границы блочного элемента */
    margin-bottom: 20px; }
    .catalog-item__img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      /* если в будущем будет менятся картинка и она будет шире чем 300px , то она сожмется до 300 */
      height: 200px; }
    .catalog-item__subtitle {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      color: #0d0d0d;
      text-align: center; }
    .catalog-item__descr {
      margin-top: 16px;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 300;
      color: #0d0d0d;
      text-align: center; }
    .catalog-item__link {
      display: block;
      margin-top: 17px;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      text-decoration: underline;
      text-transform: uppercase;
      color: #c70101;
      text-align: center; }
      .catalog-item__link:hover {
        color: #c70101; }
    .catalog-item hr {
      background-color: #e8e8e8;
      margin-top: 19px;
      margin-bottom: 21px;
      border-bottom: none;
      /* т.к. полоса образуется двумя границами hr, а нам надо толщину линии в 1px то просто убираем одну границу */ }
    .catalog-item__footer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .catalog-item__old-price {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 300;
      color: #555555;
      text-decoration: line-through;
      /* перечеркнутый текст */ }
    .catalog-item__price {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 700;
      color: #050505; }
    .catalog-item__wrapper {
      display: flex;
      width: calc(200% + 40px);
      /* для задания ширины блока в 200% от родителя + 40px */ }
    .catalog-item__content {
      width: 50%;
      margin-right: 0px;
      transform: translateX(-100%);
      /* изначально контент установлен в левой части wrapper */
      transition: 0.5s all; }
      .catalog-item__content_active {
        transform: translateX(0%);
        /* в состоянии active он смещается вправо на 100% */
        margin-right: 20px; }
    .catalog-item__list {
      position: relative;
      /* для красных квадрантиков в списке */
      width: 50%;
      margin-left: 0px;
      transform: translateX(0%);
      padding-right: 20px;
      transition: 0.5s all;
      padding-left: 19px;
      margin-bottom: 0;
      list-style-type: none; }
      .catalog-item__list_active {
        transform: translateX(-100%); }
      .catalog-item__list li {
        position: relative;
        /* для красных квадрантиков в списке */
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #555555;
        margin-bottom: 20px;
        /* создаем маркеры в листе - красные квадратики, с помощью псевдоклассов */ }
        .catalog-item__list li::before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: #c70101;
          left: -14px;
          top: 6px; }
    .catalog-item__back {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-50% - 19px));
      display: block;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      text-decoration: underline;
      text-transform: uppercase;
      color: #c70101;
      text-align: center; }
      .catalog-item__back:hover {
        color: #c70101; }

/* последним поддтягиваем media потому как иначе будет сначало читать медиа а потом уже основной код */
@media (max-width: 991px) {
  .container {
    max-width: 90%; }
  .promo {
    background: url(../img/main.jpg) no-repeat;
    min-height: min-content;
    padding-bottom: 50px; }
  .advantages {
    padding-top: 40px; }
    .advantages .container {
      max-width: 90%; }
    .advantages__block {
      width: 220px;
      margin-top: 40px; } }

@media (max-width: 767px) {
  .promo {
    padding-bottom: 50px; }
    .promo__header {
      font-size: 38px; }
    .promo__subheader {
      font-size: 21px; }
    .promo__icons {
      margin-top: 50px;
      width: 360px; }
    .promo__icon {
      font-size: 12px; }
      .promo__icon img {
        width: 30%;
        margin-bottom: 12px; }
    .promo .button_main {
      margin-top: 45px;
      width: 245px;
      height: 40px;
      font-size: 14px; }
    .promo__link {
      font-size: 14px; }
  .header__logo {
    width: 162px; }
  .header__official {
    font-size: 11px; }
    .header__official span {
      font-size: 16px; }
  .header__phone {
    font-size: 16px; }
  .header .button {
    width: 140px;
    height: 22px;
    font-size: 11px; }
  .advantages {
    padding-top: 25px; }
    .advantages .title {
      font-size: 26px; }
    .advantages__block {
      margin-top: 25px; }
      .advantages__block img {
        width: 30%;
        margin-bottom: 15px; }
    .advantages__text-block {
      font-size: 13px;
      margin: 0 15px; }
      .advantages__text-block h3 {
        font-size: 15px;
        margin-bottom: 15px; }
  .consultation__descr {
    font-size: 18px; }
  .consultation .title_left {
    font-size: 34px; }
    .consultation .title_left br {
      display: none; } }

@media (max-width: 575px) {
  .title {
    font-size: 23px; }
  .promo {
    background: url(../img/main.jpg) center center/cover no-repeat;
    background-position-x: 14%; }
    .promo__header {
      font-size: 28px;
      text-align: right; }
    .promo__subheader {
      font-size: 15px; }
    .promo__icon {
      font-size: 10px; }
    .promo__icons {
      width: 285px; }
    .promo__wrapper {
      margin-top: 80px;
      text-align: right; }
    .promo .button_main {
      margin-top: 65px;
      width: 200px;
      font-size: 12px; }
    .promo__link {
      font-size: 12px; }
  .header__phone {
    font-size: 14px; }
  .header .button {
    width: 122px;
    font-size: 9px; }
  .header__official {
    display: none; }
  .advantages {
    padding: 25px 0; }
    .advantages .title {
      font-size: 23px; }
    .advantages__wrapper {
      display: block; }
    .advantages__block {
      margin: 15px auto; }
  .consultation {
    padding: 30px 0;
    min-height: 567px; }
    .consultation .title_left {
      font-size: 23px; }
    .consultation__descr {
      font-size: 14px; }
    .consultation .feed-form {
      width: 287px; }
      .consultation .feed-form input {
        height: 40px; }
      .consultation .feed-form .button_submit {
        height: 40px;
        font-size: 14px; } }
